---
layout: page
title: "Alumni"
permalink: /alumni/
description: "with Wentzcovitch Group"
header-img: static/img/header-people.PNG
---


<div class="container">
    
    <div class="
                        col-lg-8 col-lg-offset-2
                        col-md-10 col-md-offset-1
                        post-container">

    <h3><a href="/people">People</a> <i class="fas fa-chevron-right"></i> <a href="/alumni">Alumni</a></h3>
    <div class="people-case ">
        <ul class="people-alumni">
            {% for item in site.data.alumni %}
            <h2>{{item.position}}</h2>
            <hr>
                {% for people in item.list %}
                    {% if people.name %}
                    <li><b>{{people.name}}</b>{% if people.was %}, {{people.was}}{% endif%}{% if people.time %}, <i>({{people.time}})</i>{% endif%}.{% if people.now %} Currently: {{people.now}}{% endif%}</li>
                    {% endif %}
                {% endfor %}
                <hr>
            {% endfor %}
        </ul>
    </div>
    </div>

</div>