---
layout: page
title: "Group Photos"
permalink: /groupphoto/
header-img: static/img/header1.jpg
---

<div class="container">
    <div class="post-container">
    <h3><a href="/people">People</a> <i class="fas fa-chevron-right"></i> <a href="/groupphoto">Group Photos</a></h3>
    <div class="row">
        {% for post in site.categories.group %}
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
        
            <a target="_blank" href="{% if post.link %}{{ post.link  }}{% else %}{{ post.url  }}{% endif %}">

                <div class="flex">
                    <div class="card">
                        <div class="header" style="background-image:url('{{ site.baseurl }}/{{ post.header-img}}')">
                            <div class="title {% if post.type %}{{post.type}}{% endif %}">
                                <div>
                                    <h1>{{ post.title }}</h1>
                                    <h6><span>on </span>{{ post.date | date: "%B %-d, %Y" }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path  | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path| replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</div>
</div>