---
layout: page
title: "People"
permalink: /people/
description: "in Wentzcovitch Group"
header-img: static/img/header1.jpg
---


<div class="container">
<div class="people-case">
    <h2>Group Leader</h2>
</div>

<hr>
<div class="people-case">
    <div class="row">
        <ul>
            <div class="col-lg-3 col-md-3  col-sm-8 col-xs-8">
                <li class="people-name"><h3>{{site.data.rw.name}}</h3></li>
                <li class="people-jobtitle"><h4>{{site.data.rw.job_title}}</h4></li>
                <li class="people-jobtitle">{{site.data.rw.department}}</li>
                <li class="people-email"><a href="maito:{{site.data.rw.email}}">{{site.data.rw.email}}</a></li>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4">
                <center>
                    <li>
                        <div class="people-portrait-cropper"><img src="{{ site.baseurl }}/{% if site.data.rw.portrait %}{{ site.data.rw.portrait}}{% else %}static/img/portrait_default.png{% endif %}">
                        </div>
                    </li>
                </center>
            </div>
            <div class="col-lg-5 col-md-5  col-sm-10 col-xs-10 sidebar-container">
                <li class="people-description">{{site.data.rw.description}}</li>
                {% if site.data.rw.socialmedia %}
                <div class="people-socialmedia">
                    <h5>Links:</h5>
                
                    {% if site.data.rw.socialmedia.googlescholar %}
                    <a target="_blank" href={{rw.socialmedia.googlescholar}}><img
                            src="{{ site.baseurl }}/static/img/scholar_logo_lg.gif" height=40px width=auto></a>
                    {% endif %}

                    {% if site.data.rw.socialmedia.site %}
                    <a target="_blank" href={{site.data.rw.socialmedia.site}}>{{site.data.svgbase.site}}</a>
                    {% endif %}
                
                    {% if site.data.rw.socialmedia.resume %}
                    <a target="_blank" href={{site.data.rw.socialmedia.resume}}>{{site.data.svgbase.resume}}</a>
                    {% endif %}
                
                
                </div>
                {% endif %}
            </div>
        </ul>
    </div>
    
</div>
<hr>

<div class="people-case">
    <h2>Fellows and Students</h2>
</div>

<hr>

{% for people in site.data.people %}
<div class="people-case ">
    <div class="row">
        <ul>
            <div class="col-lg-3 col-md-3  col-sm-8 col-xs-8">

                <li class="people-name"><h3>{{people.name}}, {{people.position}}</h3></li>
                <li class="people-time"><h4>Since {{people.since}}</h4></li>
                <li class="people-department">{{people.department}}</li>
                <li class="people-email"><a href="mailto:{{people.email}}">{{people.email}}</a></li>

            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4">
                <center>
                    <li>
                        <div class="people-portrait-cropper"><img
                                src="{{ site.baseurl }}/{% if people.portrait %}{{ people.portrait}}{% else %}static/img/portrait_default.png{% endif %}">
                        </div>
                    </li>
                </center>
            </div>
            <div class="col-lg-5 col-md-5  col-sm-10 col-xs-10 sidebar-container">
                {{people.description}}

                {% if people.socialmedia %}
                <div class="people-socialmedia">
                    <h5>Links:</h5>
                
                    {% if people.socialmedia.googlescholar %}
                    <a target="_blank" href={{people.socialmedia.googlescholar}}><img
                            src="{{ site.baseurl }}/static/img/scholar_logo_lg.gif" height=40px width=auto></a>
                    {% endif %}

                    {% if people.socialmedia.site %}
                    <a target="_blank" href={{people.socialmedia.site}}>{{site.data.svgbase.site}}</a>
                    {% endif %}
                
                    {% if people.socialmedia.resume %}
                    <a target="_blank" href={{people.socialmedia.resume}}>{{site.data.svgbase.resume}}</a>
                    {% endif %}
                
                    {% if people.socialmedia.github %}
                
                    <a target="_blank" href={{people.socialmedia.github}}>{{site.data.svgbase.github}}</a>
                
                    {% endif %}
                    {% if people.socialmedia.linkedin %}
                
                    <a target="_blank" href={{people.socialmedia.linkedin}}>{{site.data.svgbase.linkedin}}</a>
                
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </ul>

    </div>
    
</div>
<hr>
{% endfor %}

<div class="people-case">
    <h2>Alumni</h2>
</div>

<hr>

<div class="people-case ">
    <ul class="people-alumni">
        {% for people in site.data.alumni %}

            <li>{{people.name}}, former {{people.position}} ({{people.department}}), now at {{people.now}}</li>

        {% endfor %}
    </ul>
</div>

</div>