---
layout: page
title: "People"
permalink: /people/
description: "in Wentzcovitch Group"
header-img: static/img/header1.jpg
---


<div class="container">
<div class="people-case">
    <h2>Group Leader</h2>
</div>

<hr>
<div class="people-case">
    <div class="row">
        <ul>
            <div class="col-lg-3 col-md-3  col-sm-8 col-xs-8">
                <li class="people-name"><h3>{{site.data.rw.name}}</h3></li>
                <li class="people-jobtitle"><h4>{{site.data.rw.job_title}}</h4></li>
                <li class="people-jobtitle">{{site.data.rw.department}}</li>
                <li class="people-email">{{site.data.rw.email}}</li>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4">
                <center>
                    <li>
                        <div class="people-portrait-cropper"><img src="{{ site.baseurl }}/{% if site.data.rw.portrait %}{{ site.data.rw.portrait}}{% else %}static/img/portrait_default.png{% endif %}">
                        </div>
                    </li>
                </center>
            </div>
            <div class="col-lg-5 col-md-5  col-sm-10 col-xs-10 sidebar-container">
                <li class="people-description">{{site.data.rw.description}}</li>
                <li>
                    <a target="_blank" href="https://scholar.google.com/citations?user=gNzwHb4AAAAJ">
                        <img src="{{ site.baseurl }}/static/img/scholar_logo_lg.gif" height=40px width=auto></a>
                </li>
            </div>
        </ul>
    </div>
    
</div>
<hr>

<div class="people-case">
    <h2>Fellows and Students</h2>
</div>

<hr>

{% for people in site.data.people %}
<div class="people-case ">
    <div class="row">
        <ul>
            <div class="col-lg-3 col-md-3  col-sm-8 col-xs-8">

                <li class="people-name"><h3>{{people.name}}, {{people.position}}</h3></li>
                <li class="people-time"><h4>Since {{people.since}}</h4></li>
                <li class="people-department">{{people.department}}</li>
                <li class="people-email">{{people.email}}</li>

            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4">
                <center>
                    <li>
                        <div class="people-portrait-cropper"><img
                                src="{{ site.baseurl }}/{% if people.portrait %}{{ people.portrait}}{% else %}static/img/portrait_default.png{% endif %}">
                        </div>
                    </li>
                </center>
            </div>
            <div class="col-lg-5 col-md-5  col-sm-10 col-xs-10 sidebar-container">
                {{people.description}}

                {% if people.socialmedia %}
                    {% if people.socialmedia.resume %}
                    
                    <a target="_blank" href={{people.socialmedia.resume}}><img src="{{ site.baseurl }}/static/img/cv-logo.png" height="50px" weight="50px"></a>
                    
                    {% endif %}

                    {% if people.socialmedia.linkedin %}
                    
                        <a target="_blank" href={{people.socialmedia.github}}><img src="{{ site.baseurl }}/static/img/github-logo.png" height="50px"
                                weight="50px"></a>
                    
                    {% endif %}
                    {% if people.socialmedia.linkedin %}

                            <a target="_blank"  href={{people.socialmedia.linkedin}}><img src="{{ site.baseurl }}/static/img/linkedin-logo.png" height="50px" weight="50px"></a>

                    {% endif %}
                {% endif %}
            </div>
        </ul>

    </div>
    
</div>
<hr>
{% endfor %}

<div class="people-case">
    <h2>Alumni</h2>
</div>

<hr>

<div class="people-case ">
    <ul class="people-alumni">
        {% for people in site.data.alumni %}

            <li>{{people.name}}, former {{people.position}} ({{people.department}}), now at {{people.now}}</li>

        {% endfor %}
    </ul>
</div>

</div>