---
layout: nonenone
title: "People"
permalink: /people/vlab_people.html
---


<div class="container" style="width: 599px;">
    <div class="people-case">
        <center><h4>Wentzcovitch Group</h4></center>
    </div>

    <div class="people-case">
        <div class="row">
            <ul>
                <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6">
                    <li class="people-name">
                        <h3>{{site.data.rw.name}}</h3>
                    </li>
                    <li class="people-jobtitle">
                        <h4>{{site.data.rw.job_title}}</h4>
                    </li>
                    <li class="people-jobtitle">{{site.data.rw.department}}</li>
                    <li class="people-email"><a href="maito:{{site.data.rw.email}}">{{site.data.rw.email}}</a></li>
                </div>
                <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6">
      
                        <li>
                            <div class="people-portrait-cropper"><img
                                    src="{{ site.baseurl }}/{% if site.data.rw.portrait %}{{ site.data.rw.portrait}}{% else %}static/img/portrait_default.png{% endif %}">
                            </div>
                        </li>
             
                </div>
                
               
            </ul>
        </div>

    </div>
  
    <div id="people-less" class="show">
        <div class="people-case">
            <div class="people-switch">
                <center><h4>Fellows and Students
                </h4></center>
            </div>
        </div>

        <div class="people-case ">
            <div class="row">
                {% for people in site.data.people %}
                <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 people-mini-vlab">
                    <ul>
                        <center>

                            <div class="people-portrait-cropper-mini"><img
                                    src="{{ site.baseurl }}/{% if people.portrait %}{{ people.portrait}}{% else %}static/img/portrait_default.png{% endif %}">
                            </div>
                            <li class="people-name">
                                <h5>{{people.name}}, {{people.position}}</h5>
                            </li>
                            <li class="people-time">
                                <h5>Since {{people.since}}</h5>
                            </li>
                            <li class="people-department">{{people.department}}</li>
                        </center>
                    </ul>
                </div>

                {% endfor %}

            </div>
        </div>


    </div>

    
    
<hr>
    
    <div class="people-case">
        <center><h4>Collaborators</h4></center>
    </div>
    

    <div class="people-case ">
        {% for item in site.data.collaboratorsbeta %}
        <center><h4>{{item.university}}</h4></center>
        <div class="row">
            {% for people in item.peoplehere %}
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 people-mini people-mini-colaborator">
                <ul>
                    <center>
    
                        <div class="people-portrait-cropper-mini"><img
                                src="{{ site.baseurl }}/{% if people.portrait %}{{ people.portrait}}{% else %}static/img/portrait_default.png{% endif %}">
                        </div>
                        <li class="people-name">
                            <h5>{{people.name}}</h5>
                        </li>
                        <li class="people-department">{{people.department}}</li>

                    </center>
                </ul>
            </div>
    
            {% endfor %}
    
        </div>
        {% endfor %}
    </div>
 
    <hr>
    <div class="people-case">
        <h2>Institutes & Organizations</h2>
        <p>We gratefully acknowledge support from the following institutes and organizations.</p>
       </div>
    
    
    <div class="row">
        {% for org in site.data.organizations %}
        <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12">
            <a target="_blank" href="{{org.url}}">
                <center>
                    <img src="{{ site.baseurl }}/{{org.logo}}" height="80px">
                    <p>{{org.name}}</p>
                </center>
            </a>
        </div>
        {% endfor %}
    </div>
    <hr>

</div>