---
layout: nonenone
title: "Alumni"
permalink: /people/vlab_alumni.html
---
<div style="width: 510px;">
    
        <div class="post-container">
    
            <h3><a href="http://mineralscloud.com/people">People</a> <i class="fas fa-chevron-right"></i> <a href="http://mineralscloud.com/people/alumni">Alumni</a></h3>
            <div class="people-case ">
                <ul class="people-alumni">
                    {% for item in site.data.alumni %}
                    <h2>{{item.position}}</h2>
                    <hr>
                    {% for people in item.list %}
                    {% if people.name %}
                    <li><b>{{people.name}}</b>{% if people.was %}, {{people.was}}{% endif%}{% if people.time %},
                        <i>({{people.time}})</i>{% endif%}.{% if people.now %} Currently: {{people.now}}{% endif%}</li>
                    {% endif %}
                    {% endfor %}
                    <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
    
</div>