
<div class="display-cup">

<div class="row">
    
    <center><h2>Latest News</h2></center>
    {% assign counter = 0 %}
    {% for post in site.posts %}
        {% if post.categories.first != "research" and post.categories.first != "software"%}
        {% assign counter=counter | plus:1 %}
        {% if counter <= 3 %}
        <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="{{ post.url  }}">
                <div class="flex">
                    <div class="card">
                        <div class="header" style="background-image:url('{{ post.header-img}}')">
                            <div class="title {% if post.type %}{{post.type}}{% endif %}">
                                <div>
                                    <h3 class="post-categories">{{ post.categories|last }}</h3>
                                    <h1>{{ post.title }}</h1>
                                    <h6><span>on </span> {{ post.date | date: "%B %-d, %Y" }} </h6>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
    </div>

<div class="row">
<center>
    <h2>Latest Research</h2>
</center>
{% assign counter = 0 %}
{% for post in site.posts %}
{% if post.categories contains "research" %}
{% assign counter=counter | plus:1 %}
{% if counter <= 3 %}
<div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a target="_blank" href="{% if post.link %}{{ post.link  }}{% else %}{{ post.url  }}{% endif %}">

        <div class="flex">
            <div class="card">
                <div class="header" style="background-image:url('{{ post.header-img}}')">
                    <div class="title {% if post.type %}{{post.type}}{% endif %}">
                        <div>
                            <h3 class="post-categories">{{ post.categories|last }}</h3>
                            <h1>{{ post.title }}</h1>
                        </div>
                    </div>
                </div>
                <div class="content">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </a>
</div>
{% endif %}
{% endif %}
{% endfor %}
</div>

<div class="row">
<center>
        <h2>Recent Publications</h2>
</center>
    {% assign counter = 0 %}
    {% for item in site.data.publications %}
        {% if item.year.size <= 8  %}

        {% for publication in item.publications_this_year %}
        
            {% assign counter=counter | plus:1 %}
            {% if counter <= 3 %}
            <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a href="{{ publication.online_url  }}" target="_blank">
                    <div class="flex">
                        <div class="card">
                        <div class="header" style="background-image:url('{{ site.baseurl }}/static/img/tiny_{{ counter}}.jpg')">

                                <div class="title {% if post.type %}{{post.type}}{% endif %}">
                                    <div>
                                        <h1>{{ publication.journal }}</h1>
                                        <h6><span>on </span> {{ publication.yyyy-mm-dd | date: "%B, %Y" }} </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="publication-title">
                                <span><h4>{{ publication.title |markdownify}}</h4></span>
                                </div>
                                <div class="card-padding publication-author">
                                {{publication.author}}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                
                {% endif %}
           

        {% endfor %}
        {% endif %}
    {% endfor %}
</div>

</div>
