<header id="header-nav">
    <div class="header-nav-space" id="header-nav-bg">
    <div class="container white">
    <div class="logo">
    <span>
        <a href="/" class="logo" id="logo">
            Wentzcovitch Group
        </a>
    </span>
    </div>
        <nav class="nav">
            <a class="menu-icon" id="menu-icon">{{site.data.svgbase.menu}}</a>
            <ul>
                <li id="nav-home"><a href="/">Home</a></li>
                <li id="nav-about">
                    <div class="dropdown">
                        <a><button class="dropbtn">About</button></a>
                
                        <div class="dropdown-content">
                            <a href="/people">People</a>
                            <a href="/groupphoto">Group Photos</a>
                            <a href="/contact">Contact</a>
                            <!-- <a href="/position">Position</a> -->
                            <a href="/collaborators">Collaborators</a>
                            <a href="/alumni">Alumni</a>
                        </div>
                    </div>
                
                </li>
                <li id="nav-research">
                    <!-- <a href="/research">Research</a> -->
                    <div class="dropdown">
                        <a  href="/research"><button class="dropbtn">Research</button></a>
                        
                        <div class="dropdown-content">
                            <a href="/research">Overview</a>
                            <a href="/software">Softwares</a>
                            <!-- <a href="#">Research1</a> -->
                        </div>
                    </div>
                </li>
                <li id="nav-publications"><a href="/publications">Publications</a></li>
                <li id="nav-events"><a href="/events">Events</a></li>
                <li id="nav=community" >
                    <div class="dropdown">
                        <a><button class="dropbtn"">Community</button></a>
                    
                        <div class="dropdown-content dropdown-wide">
                            <a target="_blank" href="http://www.mineralscloud.com/">VLab</a>
                            <a target="_blank" href="https://github.com/MineralsCloud">MineralsCloud</a>
                            <a target="_blank" href="http://www.quantum-espresso.org">Quantum ESPRESSO</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        </div>
</div>
</header>

<div class="loader-wraper" id="loader-wraper">
    <div class="loader">
        <div style="color: #6CADDF" class="la-ball-scale-pulse">
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<!-- <div class="top-pointer" id="top-pointer">
    <a href="#">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g >
                <path
                    d="M17.2,86c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8c-37.9948,0 -68.8,30.8052 -68.8,68.8zM90.05347,59.0132l34.4,34.4c1.118,1.118 1.67987,2.58573 1.67987,4.05347c0,1.46773 -0.56187,2.93547 -1.67987,4.05347c-2.24173,2.24173 -5.8652,2.24173 -8.10693,0l-30.34653,-30.34653l-30.34653,30.34653c-2.24173,2.24173 -5.8652,2.24173 -8.10693,0c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693l34.4,-34.4c2.24173,-2.24173 5.8652,-2.24173 8.10693,0z">
                </path>
            </g>
    </svg>
    </a>
</div> -->



