<header id="header-nav">
    <div class="header-nav-space" id="header-nav-bg">
    <div class="container white">
    <div class="logo">
    <span>
        <a href="/" class="logo" id="logo">
            Wentzcovitch Group
        </a>
    </span>
    </div>
        <nav class="nav">
            <a class="menu-icon" id="menu-icon">{{site.data.svgbase.menu}}</a>
            <ul>
                <li id="nav-home"><a href="/">Home</a></li>
                <li id="nav-people"><a href="/people">People</a></li>
                
                <li id="nav-research">
                    
                    <div class="dropdown">
                        <a  href="/research"><button class="dropbtn">Research</button></a>
                        
                        <div class="dropdown-content">
                            <a href="/research">Overview</a>
                            <a href="https://mineralscloud.github.io/src/index.html">Softwares</a>
                            <!-- <a href="#">Research1</a> -->
                        </div>
                    </div>
                </li>
                <li id="nav-publications"><a href="/publications">Publications</a></li>
                <li id="nav-events"><a href="/events">Events</a></li>
                <li id="nav-contact"><a href="/contact">Contact</a></li>
                <li id="nav-community" >
                    <div class="dropdown">
                        <a><button class="dropbtn"">Community</button></a>
                    
                        <div class="dropdown-content dropdown-wide">
                            <a target="_blank" href="http://www.mineralscloud.com/">VLab</a>
                            <a target="_blank" href="https://github.com/MineralsCloud">MineralsCloud</a>
                            <a target="_blank" href="http://www.quantum-espresso.org">Quantum ESPRESSO</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        </div>
</div>
</header>

<div class="loader-wraper" id="loader-wraper">
    <div class="loader">
        <div style="color: #6CADDF" class="la-ball-scale-pulse">
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<div class="top-pointer" id="top-pointer">
    <a href="#">
    <i class="fas fa-chevron-up"></i>
    </a>
</div>



