<li id="nav-about">
    <div class="dropdown">
        <a><button class="dropbtn">About</button></a>
        <div class="dropdown-content">
            <a href="/people">People</a>
            <a href="/groupphoto">Group Photos</a>
            <a href="/contact">Contact</a>
            <a href="/collaborators">Collaborators</a>
            <a href="/alumni">Alumni</a>
        </div>
    </div>
</li>


<li id="nav-research">

    <div class="dropdown">
        <a href="/research"><button class="dropbtn">Research</button></a>

        <div class="dropdown-content">
            <a href="/research">Overview</a>
            <a href="https://mineralscloud.github.io/src/index.html">Softwares</a>
            <!-- <a href="#">Research1</a> -->
        </div>
    </div>
</li>