html{
  scroll-behavior: smooth;
}
header{
  position:fixed;
  left:0;
  right:0;
  top:0;
  z-index:900;
  

}
body{
  /* background-color:#000; */
}
hr:last-of-type{
  display:none;
}


.header-nav-space{
  
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7), 
    transparent 90%,
    transparent
  );
  z-index:998;
  height: 130px;
  line-height: 60px;
  
  
}

.header-nav-space-scrolled{
  background: white;
  /* border: 4px solid #000; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-height:68px;

  line-height: 30px;
  z-index:998;

}
.header-banner-space{
  height:200px;
  top:0;
  left:0;
  right:0;
  /* background-color:rgb(36, 36, 36); */
  background: url('/static/img/banner-2.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  margin-bottom:20px;
}
.header-banner-space span{
  display:inline-block;
  margin-top:100px;

  /* font-weight: 600;
  font-size:24px; */
}

.white{
  color:#fff;
}
.white a{
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
.white a:hover{
  color: rgb(213, 213, 213);
}
.white svg g{
  fill:#fff
}

.white button{
  color: #fff
}
.white button:hover{
  color: rgb(213, 213, 213);
}

.black{
  color:#000;
}
.black h1,.black h2,.black h3,.black h4,.black h5, .black h6{
  color: #000;
}

.black a{
  text-decoration: none;
  color: #000;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  margin: 0 0 0 0;
}

.black a:hover{
  color: #0046A6;
}
.black svg g{
  fill:#000;
}
.black button{
  color:#000;
}
.black button:hover{
  color: #0046A6;
}



#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	display: block;
}

nav {

	float: right;
	padding: 10px;	
	
}

#menu-icon {

	display: none;
	width: 40px;
	height: 40px;
	/* background: #4C8FEC url(../img/menu-icon.png) center; */

}



nav ul {

	list-style: none;

}

nav li {

	display: inline-block;
	float: left;
	padding: 10px

}

@media screen and (max-width: 1000px) {
  header {

		position: fixed;

	}

	#menu-icon {

    display:inline-block;
    margin-top:10px;
 
    
	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: inherit;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
    line-height: 30px;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
    }

  nav:active ul {
		display: block;
    }
  

  /* on nav hover */
  .header-nav-space-scrolled nav:hover ul,ul:hover ul{
    background-color: #fff;
  }
  
  .header-nav-space nav:hover ul,ul:hover ul{
		background-color: rgb(36, 36, 36);
	}

	

}


.dropbtn {
  border: none;
  background:none;
  padding:0;
  margin:0;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  transition: color 300ms;
 
}
.dropdown {
  position: relative;
  display: inline-block;
  padding:0;
  margin:0;

}
.dropdown-wide{
   width:200px;
}
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
.dropdown-content a {
  color: black;
  line-height:26px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:#0046A6;
}


.dropdown:hover .dropdown-content {
  /* display: block; */
  visibility: visible;
  opacity: 1;}
.dropdown:hover .dropbtn {

}
.dropdown button:active {
  border:none;
  background:none;
  outline:none;
}
.dropdown button:focus {
  outline:0;
}
@media screen and (max-width: 1000px) {
  .dropdown-content {
    margin-left:-60px;
  }
}

.highlight,
pre.highlight {
  background: #282c34;
  color: #abb2bf;
}
.highlight pre {
  background: #282c34;
}
.highlight .hll {
  background: #282c34;
}
.highlight .c {
  color: #5c6370;
  font-style: italic;
}
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}
.highlight .k {
  color: #c678dd;
}
.highlight .l {
  color: #98c379;
}
.highlight .n {
  color: #abb2bf;
}
.highlight .o {
  color: #abb2bf;
}
.highlight .p {
  color: #abb2bf;
}
.highlight .cm {
  color: #5c6370;
  font-style: italic;
}
.highlight .cp {
  color: #5c6370;
  font-style: italic;
}
.highlight .c1 {
  color: #5c6370;
  font-style: italic;
}
.highlight .cs {
  color: #5c6370;
  font-style: italic;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .kc {
  color: #c678dd;
}
.highlight .kd {
  color: #c678dd;
}
.highlight .kn {
  color: #c678dd;
}
.highlight .kp {
  color: #c678dd;
}
.highlight .kr {
  color: #c678dd;
}
.highlight .kt {
  color: #c678dd;
}
.highlight .ld {
  color: #98c379;
}
.highlight .m {
  color: #d19a66;
}
.highlight .s {
  color: #98c379;
}
.highlight .na {
  color: #d19a66;
}
.highlight .nb {
  color: #e5c07b;
}
.highlight .nc {
  color: #e5c07b;
}
.highlight .no {
  color: #e5c07b;
}
.highlight .nd {
  color: #e5c07b;
}
.highlight .ni {
  color: #e5c07b;
}
.highlight .ne {
  color: #e5c07b;
}
.highlight .nf {
  color: #abb2bf;
}
.highlight .nl {
  color: #e5c07b;
}
.highlight .nn {
  color: #abb2bf;
}
.highlight .nx {
  color: #abb2bf;
}
.highlight .py {
  color: #e5c07b;
}
.highlight .nt {
  color: #e06c75;
}
.highlight .nv {
  color: #e5c07b;
}
.highlight .ow {
  font-weight: 700;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .mf {
  color: #d19a66;
}
.highlight .mh {
  color: #d19a66;
}
.highlight .mi {
  color: #d19a66;
}
.highlight .mo {
  color: #d19a66;
}
.highlight .sb {
  color: #98c379;
}
.highlight .sc {
  color: #98c379;
}
.highlight .sd {
  color: #98c379;
}
.highlight .s2 {
  color: #98c379;
}
.highlight .se {
  color: #98c379;
}
.highlight .sh {
  color: #98c379;
}
.highlight .si {
  color: #98c379;
}
.highlight .sx {
  color: #98c379;
}
.highlight .sr {
  color: #56b6c2;
}
.highlight .s1 {
  color: #98c379;
}
.highlight .ss {
  color: #56b6c2;
}
.highlight .bp {
  color: #e5c07b;
}
.highlight .vc {
  color: #e5c07b;
}
.highlight .vg {
  color: #e5c07b;
}
.highlight .vi {
  color: #e06c75;
}
.highlight .il {
  color: #d19a66;
}
.highlight .gu {
  color: #75715e;
}
.highlight .gd {
  color: #f92672;
}
.highlight .gi {
  color: #a6e22e;
}
.highlighter-rouge .highlight {
  margin-bottom: 10px;
  border-radius: 6px;
}
.highlighter-rouge .highlight pre {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}
.highlighter-rouge .highlight .rouge-code pre {
  color: #abb2bf;
}
.highlighter-rouge .highlight .table-responsive {
  margin: 0px;
  border: 0px;
}
.highlighter-rouge .highlight .table {
  margin: 0px;
  table-layout: fixed;
}
.highlighter-rouge .highlight table > tbody > tr > td {
  margin: 0;
  border: 0;
  padding: 0;
}
.highlighter-rouge .highlight table > tbody > tr > td > pre {
  padding: 14px;
}
.highlighter-rouge .highlight td.rouge-gutter {
  width: 56px;
}
.highlighter-rouge .highlight .lineno {
  text-align: right;
  border-radius: 0px;
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .highlighter-rouge .highlight {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0px;
  }
  .highlighter-rouge .highlight td.rouge-gutter {
    width: 46px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  line-height: 1.1;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
h4 {
  font-size: 21px;
}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
article {
  overflow: hidden;
}
blockquote {
  color: gray;
  font-style: italic;
  font-size: 0.95em;
  margin: 20px 0 20px;
}
blockquote p {
  margin: 0;
}
small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}
br + small.img-hint {
  margin-top: -40px;
}
img.shadow {
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}
select {
  -webkit-appearance: none;
  margin-top: 15px;
  color: #337ab7;
  border-color: #337ab7;
  padding: 0em 0.4em;
  background: white;
}
select.sel-lang {
  min-height: 28px;
  font-size: 14px;
}
table.table > tbody th,
table.table > thead th,
table.table > tbody td,
table.table > thead td {
  border: 1px solid #eee;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
pre,
.table-responsive {
  -webkit-overflow-scrolling: touch;
}
pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}
code,
kbd,
pre,
samp {
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

}
.loader-wraper{
  height:100%;
  width:100%;
  position:fixed;
  background:#fff;
  z-index:1000;
}



.post-container{

}


.top-pointer{
  opacity: 0.8;
  position:fixed;
  right:0%;
  bottom:0%;
  margin:10px 20px 10px 10px;
  width: 40px;
  height:40px;
  line-height: 40px;
  font-size: 30px;
  

  display:none;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.top-pointer i{
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;

}
.top-pointer i{
  padding: 6px;
  color:#2C6BAC;
  
}

.top-pointer a:hover i{
  color:#404040;
}

/* footer */


.feet{
  margin-top:20px;
  min-height:300px;
  background-color: rgb(36, 36, 36);
  color:#999;
  font-size: 14px;
}

.feet ul{
  margin:50px 0 0 0;
}
.feet li{
  list-style: none;
  padding:0 0 20px 0;
  line-height: 20px;
  vertical-align: text-bottom;
}
.feet svg{
  fill:#999;
  margin-bottom:-3px;
  margin-right:5px;
}
.feet svg g{
  fill:#999
}
.feet .feet-tab{
  height:2px;
  width:30px;
  display:inline-block;
}


.white-bg{
  background: #fff;
}

/* Post & sidebar */

.post-container{

}

.sidebar-container{

 display:block;
}

.sidebar-fixed{
  top:135px;
  position: fixed;
}
@media (max-width: 992px) {
  .sidebar-container{
    display:none;
  }
  .post-container{

  }
}

.intro-header {
  background: no-repeat center center;
  background-color: #cccccc;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0px;
  /* 0 on mobile, modify by Hux */
}

.intro-header.style-text {
  background: none;
}
.intro-header.style-text .site-heading,
.intro-header.style-text .post-heading,
.intro-header.style-text .page-heading {
  padding: 85px 0 20px;
  color: #404040;
}
.intro-header.style-text .site-heading .subheading,
.intro-header.style-text .post-heading .subheading,
.intro-header.style-text .page-heading .subheading {
  margin-bottom: 15px;
}
.intro-header.style-text .tags a,
.intro-header.style-text .tags .tag {
  border-color: #404040;
  color: #404040;
}
.intro-header.style-text .tags a:hover,
.intro-header.style-text .tags .tag:hover,
.intro-header.style-text .tags a:active,
.intro-header.style-text .tags .tag:active {
  background-color: rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-bottom: 20px;
    /* response on desktop */
  }
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 85px 0 55px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading {
  padding: 95px 0 70px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {

  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 30px;
  margin-bottom: 24px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 17px;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 30px;
  margin-top: -5px;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
  .intro-header .post-heading .meta {
    font-size: 20px;
  }
}
.intro-header .header-img-credit {
  position: absolute;
  bottom: 6px;
  right: 9px;
  color: white;
  opacity: 0.3;
  font-size: 10px;
  z-index: 1;
  
}
.intro-header .header-img-credit a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .header-img-credit {
    font-size: 12px;
    bottom: 10px;
    right: 15px;
  }
}
.intro-header-higher{
  padding:200px 0;
}

.intro-header-higher h1{
  font-weight: 800;
  position: relative;
}


/* home */
.showcase{

}
.showcase canvas{
  height:600px;
  width:100%;
  z-index:1px;
}

.showcase .showcase-post{
  height:600px;
  /* background-attachment: fixed; */
  background-size: auto, 100%;
}

.showcase-button{
  position:absolute;
  top: 450px;
  left:20%;
  z-index:500px;
}
@media (max-width: 1000px) {
.showcase-button{
  left:6%;
}
}

.circle-link{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #6CADDF;

}
.circle-link svg{
}


.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(88, 88, 88, 0);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
  /* letter-spacing: 0.2em; */
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #111;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}


/* publication */
.search-pub {
  margin-top: 40px;
  font-weight: bold;
  font-size:18;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 360px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.inp .label {
  position: absolute;
  top: 18px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #2C6BAC;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  text-align: center;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 58px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #2C6BAC;
  transition: all 0.15s ease;
}
@media screen and (max-width: 900px) {
  .inp {
    max-width: 180px;
  }
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #2C6BAC;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
.publication{
width:100%;
margin:0px 0px;
min-height:600px;

}

.publication-year{
  margin:0px 0px 0px 0px;
  padding: 0px 0px;
  width:100%;
}

.publication-year-item{
  padding-top:20px;
}

.publication-year-item .pub-tab{
  height:40px;
}
@media (max-width: 992px) {
.publication-year-item .pub-tab{
  height:0px;
}
}
.publication-year-item h2{
  
  /* background-color: #C4D8E2; */
}

.publication-year ui{
  margin:0 0 0 0;
  padding: 0 0 0 0;
}

.publication-year li{
  margin:0 0 0 0;
  padding: 0 0 0 0;
  width:100%;
  list-style: none;
  
  display: inline-block;
}


.publication-paper{
  margin:0px 0px;
  padding: 0px 0px;
  width:100%;
  
}

.publication-paper li{
  width:100%;
  list-style: none;
  display: inline-block;
  margin-bottom:10px;
}
.publication-title{
  /* background-color: #C4D8E2; */
  width:100%;
}
.publication-title span{
  /* margin:5px 5px 5px 5px; */
  font-size: 20px;
}
.publication-title h5{
  font-weight: 700;
  padding:0;
  margin:0;
}

.publication-padding{
/* padding:0 0 0 20px; */
}
.publication-author{
  color:#2C6BAC;
  
}
.publication-journal{
  font-style: italic;
}
.publication-journal-year{
  color:#2C6BAC;
}
.publication-abstract{
  display:none;
  height:0;
}
.publication-url{

}
.publication-url a {
  color: #2C6BAC;
}
.publication-url svg g{
  fill: #2C6BAC;
}

.publication-year-list{

}


.publication-year-list h4{
  margin-bottom: 20px;
}
.publication-year-list ul{
  
}
.publication-year-list ul li{
  list-style: none;
  padding-left:5px;
  width:220px;
  margin:  10 0 10 0px;
  height:30px;
  
}

.publication-year-list ul a{
  /* font-size: 18px; */
  color:#2C6BAC;
  width:100%;
  text-decoration: none;
  
}
.publication-year-list ul a li{
  width:100%;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.publication-year-list ul a.hidden{
  display:none;
}
.publication-year-list ul a.show{
  display:inline-block;
}
.publication-year-list ul a:hover li, .publication-year-list ul a li.on{
  border-radius:4px;
  background-color: #f1f1f1;
  color:#000;
}
.red{
  color:rgb(220, 78, 78);
}





/* event */

.no-list-style{
  list-style: none;
}
.event ul{
  margin:0 0 0 0;
  padding: 10px;
}

.event-img{
  margin:20px 0px 0px 0px;
}
.event-img img{
  width: 100px;
  height:auto;
}
.event-post{
  padding-bottom: 12px;
}

.event-post li{
  padding-bottom: 10px;
}
.event-post p{
  padding-bottom: 0;
}

.center-in{
  display:flex;
  align-items:center;
  height:100%;
}


.people-case{
  width:100%;
  display:inline-block;
  margin:5px 5px 5px 5px;
}
.people-case ul{
  margin:0 0 0 0;
  padding-left:0;
}
.people-case li{
  list-style-type: none;
  margin-bottom:10px;
  padding-left:0;
}

.people-portrait-cropper {
    max-width: 200px;
    height: auto;
    position: relative;
    overflow: hidden;
}
.people-portrait-cropper img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
}

.people-name{
  font-size: 22px;
  margin-top:20px;
}

.people-alumni li{
  list-style: circle;
  margin-left:25px;
}

.people-switch{
  display:block;
}
.people-switch button{
  background:none;
  border: none;
  color: #404040;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms;
}
.people-switch button:hover{
  color: #337ab7;
}

.people-switch button:active{
  border:none;
}
.people-switch button:focus{
  outline: none;
  border:none;
}

.people-switch button svg g{
  fill: #404040;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  transition: all 100ms;
}

.hidden{
  display:none;
}
.show{
  display:block;
}

.people-mini{
  min-height:360px;
}
.people-switch button:hover svg g{
  fill: #337ab7;
}

@media screen and (max-width: 995) {
  #people-less button{
    display: none;
  }
}
.people-socialmedia{

}


.people-socialmedia a svg g{
  fill: #404040;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms;
}
.people-socialmedia a:hover svg g{
  fill: #337ab7;
}
.preview-cover{
  width:100%;
}
.preview-cover img{
  width:100%;
  height:auto;
}

.post-categories{
  font-variant-caps: all-petite-caps;
}
.display-cup{
  margin-bottom:10px;
}
.display-cup a{
  text-decoration: none;
}
.display-cup h2{
  /* margin-top: 10px; */
}



.flex {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.card {
  margin: 0px 5px;
  width: 380px;
  height: 440px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 19px 48px rgba(0, 0, 0, 0.3), 0 15px 32px rgba(0, 0, 0, 0.22);
}
.card .header {
  height: 200px;
  width: 100%;
  background-color: #404040;
  position: relative;
  background-size: cover;
  background-position: center top;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}
.card .header.collapse {
  height: 0px;
}
.card .header .title {
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0px 15px;
}
.card .header .title h1 {
  margin: 0px;
  font-size: 22px;
  color: rgba(255, 255, 255);
}
.card .header .title h6 {
  font-size: 16px;
  color: #f1f1f1;
  margin: 2;
}
.card .header .title h6 span {
  color: #FFF;
}
.card .header .title h3 {
  color: #FFF;
  margin: 2;
}

.card .header .black h1,
.card .header .black h6,
.card .header .black h6 span,
 .card .header .black h3{
  color: #000;
}

.card .header:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 34px;
  background-repeat: no-repeat;
}
.card .content {
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  padding: 20px 30px 30px 30px;
  position: relative;
  background-color: #FFF;
  overflow-y: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  color: #111;
}
.card-bottom{
  position:absolute;  
  bottom:45%;
}

.page-fullscreen .intro-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page-fullscreen #tag-heading {
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: 0.6;
  color: #fff;
}