---
layout: page
title: "Events"
permalink: /events/
description: "Where we have been and what we have made"
header-img: static/img/header1.jpg
---

<div class="container">
{% for post in site.categories.events %}
<div class="post-preview">
    
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 sidebar-container">
            <div class="event-img">
                {% if post.logo %}<img src="{{ site.baseurl }}/{{ post.logo}}">{% endif %}
            </div>
        </div>
        
        <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12 post-container">

            <div class="event-post">
                <a href="{{ post.url | relative_url  }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                    {% endif %}
                </a>
                {% if post.portrait %}
                <div class="col-lg-9  col-md-9 col-sm-8 col-xs-8 post-container">
                {% else %}
                <div>
                {% endif %}

                <div class="post-container">
                    {{ post.content}}
                </div>

            </div>  
            <!-- end of if portrait -->

            </div>
            <!-- end of event-post -->
            

            {% if post.portrait %}
            <div class="col-lg-3  col-md-3 col-sm-4 col-xs-4 post-container">
                <div class="event-portrait">
                    <img src="{{ site.baseurl }}/{{ post.portrait}}">
                </div>
            </div>
            {% endif %}

        </div>
    </div>

    
</div>
<hr>

{% endfor %}

</div>