---
layout: page
title: "Publications"
permalink: /publications/
description: "Publications in Wentzcovitch Group"
header-img: static/img/header1.jpg
---

<div class="container">

<div class="col-lg-10 col-md-10  col-sm-12 col-xs-12  post-container">
    <div class="search-pub">
        <center> Search  
            <label for="inp" class="inp">
                <input id="search-pub" name="search-pub" onkeyup="publication_filter()" type="text" placeholder="&nbsp;">
                <span class="label noselect">papers, authors, year...</span>
                <span class="border"></span>
            </label>
            in publications
        </center>
    </div>
    <div class="publication" id="publication">
        {% for item in site.data.publications %}
        <div class="publication-year">
                <div id="{{item.year}}" class="publication-year-item">
                    <div class="pub-tab"></div>
                    <h2>
                        <span>{{item.year}}</span>
                        <span style="float: right">{{item.publications_this_year.size}} Articles</span>
                    </h2>
                    

                </div>
                <hr>
                
                {% for publication in item.publications_this_year %}
                <ul class="publication-paper row">
                    <hr>
                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                        <li>
                            <div class="publication-title"><h5><span>{{publication.title|markdownify}}</span></h5></div>
                        </li>
                        <li><span class="publication-author">{{publication.author}}</span></li>
                    </div>
                    <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                        <li>
                            <span class="publication-journal-year">{{publication.yyyy-mm-dd|date:"%B, %Y"}}</span>
                        </li>

                        <li>
                            <span class="publication-journal">{{publication.journal}}</span>
                        </li>

                        <li>
                            {% if publication.online_url %}<span class="publication-url"><a href="{{publication.online_url}}" target="_blank">
                                    {{site.data.svgbase.jumpout}}
                                    View Online</a></span>
                            {% endif %}
                        </li>
                    </div>
                    <hr>
                </ul>
                
                
                {% endfor %}
        </div>
        {% endfor %}
       
    </div>

</div>

<div class="col-lg-2  col-md-2  col-sm-12 col-xs-12">
    <div class="sidebar-container" id="sidebar" style="min-width:200px;">
        <div class="publication-year-list black">
            <ul>
                <h4>Year Archive</h4>
                {% for item in site.data.publications %}
                <li><a href="#{{item.year}}">{{item.year}} ({{item.publications_this_year.size}})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</div>