---
layout: nonenone
title: "Publications"
permalink: /publications/vlab_publications.html
description: "Publications in Wentzcovitch Group"
header-img: static/img/header1.jpg
---

<div style="width:510px">

    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 ">

        <div class="publication" id="publication">
            {% for item in site.data.publications %}
            <div class="publication-year">
                <div id="{{item.year}}" class="publication-year-item">
                    <div class="pub-tab"></div>
                    <h4>
                        <span>{{item.year}}</span>
                        <span style="float: right">

                            {% assign n = item.publications_this_year.size%}
                            {% assign type = item.year%}
                            {{n}}
                            {% if n == 1 %}
                            Article
                            {% else %}
                            {% if type contains "ook" %}
                            Books
                            {% else %}
                            Articles
                            {% endif %}
                            {% endif %}

                        </span>
                    </h4>
                </div>


                {% for publication in item.publications_this_year %}
                <ul class="publication-year row publication-paper-vlab" >
                            <span>{{publication.author}}</span>,
                            <b><span>{{publication.title}}</span></b>
                            {% if publication.publish %}
                            <span class="publication-journal">, {{publication.publish}}</span>
                            {% endif %}
                        {% if publication.journal %}
                            <span class="publication-journal">{{publication.journal}}</span>
                        {% endif %}
                        (<span>{{publication.yyyy-mm-dd|date:"%Y"}}</span>)
                            {% if publication.online_url %}<span><a
                                    href="{{publication.online_url}}" target="_blank">
                                    <i class="fas fa-link"></i>
                                    online</a></span>
                            {% endif %}
                    <br>

                    {% if publication.more %}
                    <b><span><span class="red"><i class="fas fa-exclamation-circle"></i> {{publication.more.type}}:</span>
                            {{publication.title}}</span></b>,
                        <span>{{publication.author}}</span>,
                        {% if publication.publish %}
                        <span class="publication-journal">{{publication.more.publish}}</span>
                        {% endif %}
                        {% if publication.journal %}
                        <span class="publication-journal">{{publication.more.journal}}</span>
                        {% endif %}
                        (<span>{{publication.more.yyyy-mm-dd|date:"%Y"}}</span>)
                        {% if publication.more.online_url %}<span><a href="{{publication.online_url}}" target="_blank">
                                <i class="fas fa-link"></i>
                                online</a></span>
                        {% endif %}
                        <br>
                    {% endif %}
                    
                </ul>


                {% endfor %}
            </div>
            {% endfor %}

        </div>

    </div>

</div>